@charset "UTF-8";
.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.6227180527vw;
  }
}
@media (min-width: 986px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #191919;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.c-btn {
  display: inline-block;
  width: 256px;
  width: 16rem;
  padding-top: 15px;
  padding-top: 0.9375rem;
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
  background-color: #4b6cb7;
  -webkit-box-shadow: 0 2px 4px rgba(0, 51, 51, .29);
          box-shadow: 0 2px 4px rgba(0, 51, 51, .29);
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-btn {
    padding-top: 1.5625rem;
    padding-bottom: 1.4375rem;
  }
}

.c-btn__arrow {
  display: inline-block;
  width: 16px;
  height: 6px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  margin-left: 16px;
  margin-left: 1rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
}

.c-hamburger {
  padding: 0;
}

.c-hamburger__line {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.c-hamburger__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-hamburger__line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-hamburger.is-open .c-hamburger__line {
  background-color: transparent;
}

.c-hamburger.is-open .c-hamburger__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger.is-open .c-hamburger__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-section-title__english {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .c-section-title__english {
    font-size: 3rem;
  }
}

.c-section-title__japanese {
  position: relative;
  margin-left: 32px;
  margin-left: 2rem;
  color: #4b6cb7;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .c-section-title__japanese {
    font-size: 1.5rem;
  }
}

.c-section-title__japanese::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -14px;
  left: -0.875rem;
  height: 26.248px;
  height: 1.6405505936rem;
  width: 1px;
  -webkit-transform: rotate(40.3645365731deg);
          transform: rotate(40.3645365731deg);
  background-color: #4b6cb7;
}
@media screen and (min-width: 768px) {
  .c-section-title__japanese::before {
    height: 2.1695693697rem;
    -webkit-transform: rotate(41.4964683552deg);
            transform: rotate(41.4964683552deg);
  }
}

.l-header {
  width: 100%;
  height: 56px;
  height: 3.5rem;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1036px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.p-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background-image: linear-gradient(to right, #4b6cb7, #182848);
}

.p-header__logo {
  width: 120px;
  width: 7.5rem;
}

.p-header__hamburger {
  width: 20px;
  width: 1.25rem;
}
/*# sourceMappingURL=styles.css.map */
