@use "global" as *;

.c-btn {
  display: inline-block;
  width: rem(256);
  padding-top: rem(11);
  padding-bottom: rem(11);
  background-color: $blue01;
  box-shadow: 0 2px 4px rgba(0, 51, 51, 0.29);
  color: $white01;
  text-align: center;
  vertical-align: top;
  @include mq() {
    padding-top: rem(18);
    padding-bottom: rem(20);
    }
}

.c-btn__arrow {
  display: inline-block;
  width: 16px;
  height: 6px;
  border-bottom: 1px solid $white01;
  border-right: 1px solid $white01;
  transform: skew($tilt02-pc);
  margin-left: rem(11);
  margin-bottom: rem(3);
}

