@use "global" as *;
@use "sass:math";

.p-cards {
  @include mq() {
    display: flex;
    flex-wrap: wrap;
  }
}

.p-cards__card {
  @include mq () {
    width: rem(472);
    width: 100% * math.div( 472, 1000);
  }
}

.p-cards__card + .p-cards__card {
  margin-top: rem(32);
  @include mq() {
    margin-top: 0;
  }
}

.p-cards__card:nth-child(even) {
  @include mq() {
    // margin-left: rem(40);
    margin-left: 100% * math.div( 40, 1000);
  }
}

.p-cards__card:nth-child(n + 3) {
  @include mq() {
    margin-top: rem(32);
  }
}