@use "global" as *;
@use "sass:math";

.p-contact {
  padding-top: rem(84);
  padding-bottom: rem(96);
  background-image: url(../images/common/bckground-image-contact@2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;  
  text-align: left;
  @include mq() {
    padding-top: rem(81);
    text-align: center;
    padding-bottom: rem(77);
  }
}

.p-contact__description {
  margin-top: rem(12);
  color: $white01;
  font-size: rem(16);
  line-height: 2;
  letter-spacing: 0.32px;
  @include mq() {
    margin-top: rem(14);
  }
}

.p-contact__contact-btns {
  margin-top: rem(26);
  @include mq() {
    margin-top: rem(48);
  }
}

.p-contact__contact-btn + .p-contact__contact-btn {
// .c-contact-btn + .c-contact-btn {
  margin-top: rem(25);
  @include mq() {
    margin-top: 0;
    margin-left: rem(78);
  }
}