@use "global" as *;
@use "sass:math";

.p-footer {
  padding-top: rem(28);
  background-color: $navy01;
  color: $white01;
}

.p-footer__logo {
  width: rem(160);
}

.p-footer__inner.l-inner {
  max-width: 100%;
}

.p-footer__inner {
  display: flex;
  flex-direction: column-reverse;
  @include mq() {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.p-footer__information {
  margin-top: rem(69);
  padding-bottom: rem(34);
  @include mq() {
    padding-bottom: rem(100);
  }
}

.p-footer__nav-items {
  @include mq {
    writing-mode: vertical-lr;
  }
}
.p-footer__address {
  margin-top: rem(17);
  line-height: 2.1;
  @include mq {
    // order: 1;
  }
}

.p-footer__nav-item {
  padding-top: rem(8);
  padding-bottom: rem(8.5);
  @include mq() {
    padding: 0 rem(12)
  }
}

.p-footer__nav-item:nth-last-child(2) {
  margin-top: rem(41);
  @include mq() {
    margin-top: 0;
    margin-left: rem(40);
  }
}

.p-footer__copyright {
  padding-top: rem(12);
  padding-left: rem(20);
  padding-bottom: rem(14);

  background-color: $black01;
  font-size: rem(10);
  @include mq() {
    padding: rem(25) rem(25);
    font-size: rem(12);
  }
}