@use "global" as *;

.p-mainview {
  position: relative;
  background-image: linear-gradient(to right, $blue01, $navy01);
  overflow: hidden;
}

.p-mainview__frame {
  position: absolute;
  width: 100px;
  height: 100px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  transform: skewX(-$tilt01-sp);
  transform-origin: bottom left;
  overflow: hidden;
  @include mq() {
    transform: skewX(-$tilt01-pc);
  }
  @include mq(xxl) {
    max-width: 1897px;
    margin-left: calc( 100vw - 1897px);
  }
}

.p-mainview__image-wrapper {
  height: 100%;
  width: 100%;
  transform: skewX($tilt01-sp);
  transform-origin: bottom left;
  @include mq() {
    transform: skewX($tilt01-pc);
  }
}

// .p-mainview__inner.l-inner {
//   @include mq() {
    // max-width: rem(1054);
    // padding-right: rem(12);
    // padding-left: rem(20);
//   }
// }

.p-mainview__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index:10;
  width: 100%;
  height: 100%;
  max-height: rem(770);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: anime 18s 0s infinite;
  opacity: 0;
  @include mq(xl) {
      transform: scale(1.2);
    }
}

.p-mainview__image:nth-of-type(1) {
  background-image: url(../images/top/top-image-1@2x.jpg);
}

.p-mainview__image:nth-of-type(2) {
  background-image: url(../images/top/top-image-2@2x.jpg);
  animation-delay: 6s;
}

.p-mainview__image:nth-of-type(3) {
  background-image: url(../images/top/top-image-3@2x.jpg);
  animation-delay: 12s;
}

@keyframes anime {
  0% {
      opacity: 0;
  }
  16% {
      opacity: 1;
  }
  34% {
      opacity: 1;
  }
  50% {
      opacity: 0;
      transform: scale(1.2);
      z-index:9;
  }
  100% { opacity: 0 }
}

.p-mainview__content-wpapper {
  position: relative;
  z-index: 100;
  margin-top: rem(100);
  // background: green;
  @include mq() {
    margin-top: rem(98);
  }
}

.p-mainview__english-copy {
  color: $white01;
  font-family: $english-base-font;
  font-size: rem(48);
  font-weight: $extra-bold;
  line-height: 1.21;
  letter-spacing: rem(0.96);
  text-shadow: 4.2px 4.2px 4px rgba(24, 40, 72, 0.5);
  text-transform: uppercase;
  @include mq() {
    font-size: rem(96);
    line-height: 1.17;
  letter-spacing: rem(1.92);
  text-align: left;
  }
}

.p-mainveiw__japanese-copies {
  margin-top: rem(30);
  @include mq() {
    margin-top: rem(29);
  }
}

.p-mainveiw__japanese-copy-wrapper {
  width: fit-content;
  height: fit-content;
  background-color: $navy01;
  transform: skewX(-$tilt01-sp);
  transform: skewX(-28deg);
  transform-origin: bottom left;
  margin-left: rem(4);
  margin-top: rem(4);
  @include mq() {
    transform: skewX(-$tilt01-pc);
  }

  
}

.p-mainveiw__japanese-copy {
  display: block;
  width: fit-content;
  margin-left: rem(-4);
  margin-top: rem(-4);
  padding: rem(4) rem(6) rem(2) rem(24);
  background-color: $white01;
  color: $navy01;
  font-size: rem(20);
  font-weight: $bold;
  transform: translate( -4px, -4px);
  @include mq() {
    padding: rem(8) rem(6) rem(9) rem(46);

    font-size: rem(32);
  }
}


.p-mainveiw__japanese-copy span {
  display: block;
  transform: skewX($tilt01-sp);
  transform: skewX(28deg);
  transform-origin: bottom left;
  @include mq() {
    transform: skewX($tilt01-pc);
  }
}  

.p-mainveiw__japanese-copy-wrapper + .p-mainveiw__japanese-copy-wrapper {
  margin-top: rem(18);
  @include mq() {
    margin-top: rem(19);
  }
}

// .p-mainview__news {
//   margin-top: rem(151);
//   @include mq() {
//     margin-top: rem(115);
//   }
// }

// .p-mainview__news-wrapper {
//   position: absolute;
//   bottom: rem(26);
//   width: 100%;
  // right: rem(20);
  // left: rem(20);
//   @include mq() {
//     bottom: rem(16);
//   }
// }