@use "global" as *;
@use "sass:math";

.p-recruit {
  @include mq() {
    padding-top: rem(75);
    padding-bottom: rem(80);
    background-color: $gray01;
    text-align: center;
  }
}

.p-recruit__items {
  margin-top: rem(29);
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  text-align: left;
  @include mq() {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    margin-top: rem(92);
  }
}

.p-recruit__item {
  width: 100%;
  @include mq() {
    width: 100% * math.div(312, 1016);
  }
}

.p-recruit__item + .p-recruit__item {
  @include mq() {
    margin-left: 100% * math.div(36, 1016);
  }
}

.p-recruit__item:nth-child(1) {
  @include mq() {
    transform: translateY(17%);
  }
}

.p-recruit__item:nth-child(3) {
  @include mq() {
    transform: translateY(-17%);
  }
}

.p-recruit__link {
  display: block;
}

.p-recruit__image {
  position: relative;
  width: 100%;
}

.p-recruit__image::before {
  content: "";
  display: block;
  padding-top: 100% * math.div(200, 375);
  @include mq() {
    padding-top: 100% * math.div(240, 312);
  }
}

.p-recruit__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.p-recruit__title {
  position: absolute;
  left: rem(20);
  bottom: rem(13);
  color: $white01;
  font-size: rem(16);
  font-weight: $normal;
  @include mq () {
    left: initial;
    right: rem(-8);
    bottom: rem(-24);
    background-color: $navy01;
    opacity: 0.64;
    width: rem(264);
    height: rem(56);
    line-height: rem(56);
    padding-left: rem(16);
  }
}

.p-recruit__arrow {
  display: inline-block;
  width: rem(16);
  height: rem(3);
  border-bottom: 1px solid $white01;
  border-right: 1px solid $white01;
  transform: skew($tilt02-pc);
  margin-left: rem(5);
  margin-bottom: rem(4);
  @include mq() {
    position: absolute;
    right: rem(16);
    top: 48%;
    // transform: translateY(-50%);
  }
}

.p-recruit__btn {
  margin-top: rem(41);
  text-align: center;
  @include mq() {
    margin-top: rem(105);
  }
}
