@use "global" as *;
@use "sass:math";

.p-services {
  position: relative;
  padding-bottom: rem(49);
  @include mq() {
    padding-bottom: 0;
  }
}

.p-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
  background-color: $gray01;
  background: linear-gradient(
    $tilt02-sp,
    $gray01 0%,
    $gray01 59%,
    transparent 59%,
    transparent 91%,
    $gray01 91%,
    $gray01 100%
    );
    @include mq() {
      top:rem(-41);
      background: linear-gradient(
      // calc(180deg - $tilt02-pc),
      131deg,
      $gray01 0%,
      $gray01 68%,
      transparent 68%,
      transparent 895%,
      $gray01 89%,
      $gray01 100%
    );
  }
}

// .p-services__background {
//   // padding-top: rem(41);
//   padding-bottom: rem(48);
//   background-color: $gray01;
//   background: linear-gradient(
//     $tilt02-sp,
//     $gray01 0%,
//     $gray01 59%,
//     transparent 59%,
//     transparent 91%,
//     $gray01 91%,
//     $gray01 100%
//   );
//   @include mq() {
//     position: relative;
//     padding-bottom: 0;
//     background: linear-gradient(
//       // calc(180deg - $tilt02-pc),
//       131deg,
//       $gray01 0%,
//       $gray01 68%,
//       transparent 68%,
//       transparent 895%,
//       $gray01 89%,
//       $gray01 100%
//     );
//   }
// }

.p-services__inner.l-inner {
  @include mq() {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.p-services__media {
  @include mq() {
    display: flex;
    align-items: flex-start;
    // transform: translateY(rem(41));
    // margin-left: calc(50% - 50vw);
  }
}

.p-services__image {
  position: relative;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  @include mq() {
    width: 47.025%;
    width: 100% * math.div( 620, 1366 );
    flex-shrink: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.p-services__image::before {
  content: "";
  display: block;
  padding-top: 100% * math.div(248, 375);
  @include mq() {
    padding-top: 100% * math.div(440, 620);
    // padding-top: 68.5%;
  }
}

.p-services__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.p-services__content {
  margin-top: rem(35);
  @include mq() {
    width: 40%;
    margin-top: 0;
    margin-left: rem(48);
    padding-right: rem(25);
  }
}

.p-sevices__section-title {
  @include mq() {
    margin-top: rem(-6);
  }
}

.p-services__sub-title {
  margin-top: rem(20);
  font-size: rem(24);
  font-weight: $medium;
  @include mq() {
    margin-top: rem(26);
    font-size: rem(32);
    line-height: 1.45;
  }
}

.p-services__description {
  margin-top: rem(20);
  letter-spacing: rem(0.28);
  line-height: 2;
  @include mq() {
    margin-top: rem(14);
  }
}

.p-services__btn {
  margin-top: rem(28);
  text-align: center;
  @include mq() {
    margin-top: rem(44);
    text-align: left;
  }
}
