@use "global" as *;
@use "sass:math";

.p-works {
  padding-top: rem(27);
  padding-bottom: rem(38);
  background: linear-gradient(
    $tilt02-sp,
    $gray01 0%,
    $gray01 12%,
    transparent 12%,
    transparent 88%,
    $gray01 88%,
    $gray01 100%
  );
  @include mq() {
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(
      // $tilt02-pc,
      49.5deg,
      $gray01 0%,
      $gray01 17.5%,
      transparent 17.5%,
      transparent 83%,
      $gray01 83%,
      $gray01 100%
    );
    text-align: center;
  }
}

.p-works__inner.l-inner {
  @include mq() {
    max-width: rem(1050);
  }
}

.p-works__section-title{
  @include mq() {
    margin-top: rem(-6);
  }
}

.p-works__sub-title {
  margin-top: rem(19);
  font-size: rem(24);
  font-weight: $medium;
  @include mq() {
    margin-top: rem(23);
    font-size: rem(32);
  }
}

.p-works__description {
  margin-top: rem(16);
  letter-spacing: rem(0.28);
  line-height: 2;
  @include mq() {
    margin-top: rem(23);
  }
}

.p-works__cards {
  margin-top: rem(37);
  @include mq() {
    margin-top: rem(49);
    transform: translateX(#{rem(16)});
  }
}

.p-works__btn {
  margin-top: rem(35);
  text-align: center;
  @include mq() {
    margin-top: rem(40);
  }
}
