@use "global" as *;
@use "sass:math";

.p-works {
  padding-top: rem(17);
  padding-bottom: rem(38);
  background: linear-gradient(
    $tilt02-sp,
    $gray01 0%,
    $gray01 12%,
    transparent 12%,
    transparent 88%,
    $gray01 88%,
    $gray01 100%
  );
  @include mq() {
    background: linear-gradient(
      $tilt02-pc,
      $gray01 0%,
      $gray01 15%,
      transparent 15%,
      transparent 85%,
      $gray01 85%,
      $gray01 100%
    );
  
    text-align: center;
  }
}

.p-works__inner.l-inner {
  max-width: rem(1050);
}

.p-works__sub-title {
  margin-top: rem(12);
  font-size: rem(24);
  font-weight: $medium;
}

.p-works__description {
  margin-top: rem(16);
  letter-spacing: rem(0.28);
  line-height: 2;
}

.p-works__cards {
  margin-top: rem(38);
}

.p-works__btn {
  margin-top: rem(36);
  text-align: center;
}
